# Environment
.env
venv/
.venv/
env/

# Python
**/__pycache__/
*.py[cod]
*$py.class

# ADK
**/.adk/

# Temporary demo
temp_adk_demo/

# SQLite
*.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Pytest
.pytest_cache/